<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/LABO_07/public/css/style.css">
</head>
<body>
    <header>
        <h1>MyMovie dATABASE</h1>
        <li>Home</li>
        <li>movies</li>
    </header>
    <footer></footer>
</body>
</html>